<h1>トーク 一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @talks.each do |talk| %>
  <tr>
    <td><%= talk.content %></td>
    <td><%= link_to 'トークを確認する', talk_path(talk.id) %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to '新しく投稿する', new_talk_path %>
