html {
  min-height: 100%;
}

body {
  text-align: center;
  background-image: url("https://s3-us-west-1.amazonaws.com/realisticshots/2016/0250.jpg");
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 70px;
  background-color: #33CCFF;
}

.header_logo {
  color: white;
  padding: 15px;
  font-size: 30px;
}

footer {
  height: 70px;
  background-color: #CCFFFF;
  margin-top: auto;
}
